<h1 class="searchHeading">Wikipedia Search</h1>

<form>
  <div class="searchForm">
    <div>
      <input type="text" id="search_query" name="search_query" className="border border-rose-500" autocomplete="off"/>
    </div>
    <button type="submit" id="submit"> Submit </button>
  </div>
</form>

<% if @results_array.present? %>
  <% @results_array.each do |result| %>
    <div>
      <h2><%= result[:title] %></h2>
      <p><%= result[:text] %></p>
    </div>
  <% end %>
<% else %>
  <p></p>
<% end %>