// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.searchContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchHeading {
  text-align: center;
}

.searchForm {
 display: flex;
 justify-content: center;
 gap: 10px;
}

#search_query {
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
}

#submit {
  border-radius: 10px;
}

.searchAnalytics {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.searchAnalytics div {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;

  ul {
    li {
      margin: 10px 0px;

      .count-bold {
        font-weight: bold;
        font-size: large;
      }
    }
  }
}